{% extends 'hospital/adminDashboard.html' %} {% block adminDashBoard %}
<div class="admin-card">
    <div class="cardsApp" >
      <a href="{% url 'adminDoctor' %}">  <h6>Doctor Record</h6>
        <i class="fa-solid fa-calendar-days"></i>
        </div></a>
    <div class="cardsApp">
        <h6>Register Doctor</h6>
        <i class="fa-solid fa-book-medical"></i>
    </div>
    <div class="cardsApp">
        <h6>Approved Doctor</h6>
        <i class="fa-regular fa-circle-check"></i>
    </div>
    
</div>
{% endblock adminDashBoard %}
