{% extends 'hospital/adminDashboard.html' %}
{% block adminDashBoard %}
<div class="admin-card">
    <div class="cards bg-success text-white">
        <div ><h5>Total Doctor</h5>
            <h2>{{doctorApprovedNum}}</h2>
            <p>Pending <span>{{doctorPendingNum}}</span></p></div>
            <div class="admin-icons "><i class="fa-solid fa-user-doctor"></i></div>
    </div>
    <div class="cards bg-primary text-white">
        <div ><h5>Total Patient</h5>
            <h2>{{patientApprovedNum}}</h2>
            <p> Pending <span>{{patientPendingNum}}</span></p></div>
            <div class="admin-icons "><i class="fa-solid fa-users"></i></div>
    </div>
    <div class="cards bg-danger text-white">
        <div><h5>Total Appointment</h5>
            <h2>{{appointmentApproveNum}}</h2>
            <p>Pending <span>{{appointmentPendingNum}}</span></p>
        </div>
            <div class="admin-icons "><i class="fa-solid fa-calendar-days"></i> </div>
        </div>
   </div>
   <div class="all-list">
    <div >
        <table class="table border-info border">
            <tr >
                <th colspan="4" class="text-center bg-primary text-white">Doctor List</th>
            </tr>
            <tr >
                <th>Name</th>
                <th>Department</th>
                <th>Mobile</th>
                <th>Status</th>
            </tr>
            {% for doctor in doctors %}
            <tr>
                <td>{{doctor.user.username}}</td>
                <td>{{doctor.department |truncatewords:3}}</td>
                <td>{{doctor.mobile}}</td>
                <td>
                    {% if doctor.status %}
                    <span class="bg-success  px-2  " style="border-radius: 10px;">Permanent</span>
                    {% else %}
                    <span class="bg-danger px-2" style="border-radius: 10px;">On hold</span>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div ><table class="table border-info border">
        <tr >
            <th colspan="5" class="text-center bg-primary text-white">Patient List</th>
        </tr>
        <tr>
            <th>Name</th>
            <th>Symptoms</th>
            <th>Mobile</th>
            <th>Address </th>
            <th>Status</th>
        </tr>
        {% for patient in patients %}
        <tr>
            <td>{{patient.user.username}}</td>
            <td>{{patient.symptoms}}</td>
            <td>{{patient.mobile}}</td>
            <td>{{patient.address |truncatewords:2}}</td>
            <td >
                {% if patient.status %}
                <span class="bg-success px-2 " style="border-radius: 10px;">Admitted</span>
                {% else %}
                <span class="bg-danger px-2" style="border-radius: 10px;">On hold</span>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table></div>
   </div>
{% endblock adminDashBoard %}