.admin {
  display: flex;
  margin-top: 2rem;
  gap: 2rem;
   
}
.admin-left {
  border: 2px solid black;
  width: 20%;
  height: 100vh;
}
.admin-left > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: .6rem;
  /* border: 1px solid; */
}
.admin-left>div a{
    width: 100%;
}
.admin-left button{
    width: 100%;
    padding: 10px;
    font-weight: 500;
    background-color: rgba(13, 30, 175, 0.764);
    color: white;
    border-radius: 10px;
    border: 0;

}
.admin-left button:active{
    background-color: rgba(26, 46, 233, 0.764);
}
.admin-left img {
  width: 50%;
  object-fit: cover;
}
.admin-right {
  /* border: 1px solid red; */
  width: 80%;
  height: 100vh;
}
.admin-card{
    width: 100%;
     display: flex;
     flex-wrap: wrap;
     gap: 1rem;
    justify-content: space-evenly;
}

.cards{
    min-width: 18rem;
    border-radius: 5px;
    height: 10rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}


.admin-icons{
    /* padding: 2rem; */
    height: 90px;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgba(189, 205, 192, 0.387);
    /* border: 1px solid red; */
    border-radius: 50%;
    font-size: 3rem;
}


.all-list{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
.all-list>div{
  width: calc(50% - .1rem);
}
.all-list>div span{
    color: white;
}
th{
    background-color: rgba(10, 109, 76, 0.692) !important;
}
tr:nth-child(even){
    background-color: rgba(127, 255, 212, 0.346) !important;
}

#doctorImg{
    width: 4rem;
}
tr:nth-child(even){
    background-color: red;
}

.cardsApp{
display: block;
padding: 1.4rem 2rem;
background-color: rgb(9, 176, 142);
border-radius: 10px;
color: white;
min-width: 18rem;
max-width: 19rem;
margin-top: 2rem;
}
.cardsApp>a{
  text-decoration: none;
  color: white;
}
.cardsApp i{
  margin-top: .5rem;
  font-size: 1.5rem;
}

.cardsApp:nth-child(1){
  background-color: rgba(30, 168, 222, 0.996);
}
.cardsApp:nth-child(2){
  background-color: rgb(11, 150, 20);
}
.cardsApp:nth-child(3){
  background-color: rgb(164, 9, 236);
}
.cardsApp:nth-child(4){
  background-color: rgb(236, 9, 107);
}
.cardsApp:nth-child(5){
  background-color: rgb(236, 164, 9);
}

.cardsApp:hover{
  background-color: rgb(10, 188, 159);
  transition: .2s ease-in-out;
  transform: scale(1..5);
}
.cardsApp h4{
  color: rgba(0, 0, 0, 0.794);
}

#search{
  border: 1px solid;
  border-radius: 4px;
  
  float: right;
  margin: .3rem 1REM;
}
#search input{
  border: none;
  outline: none;
}
#search button{
  border: 0;
  padding: .2rem 1rem ;
  z-index: -2;
  /* border-radius: 5px; */
}

.pd-card{
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.pd-card>i{
  font-size: 2.2rem;
  padding: 1rem 1.2rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.52);
  color: rgb(160, 39, 5);
  
}

#appfrm{
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  border: 1px solid turquoise ;
  padding: 2rem;
}
