@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400;1,700;1,900&display=swap");
* {
  font-family: "Roboto", sans-serif;
}
body {
  background-color: rgba(39, 187, 187, 0.464);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 1.4rem;
  /* border: 2px solid ; */
  background-color: rgb(163, 242, 233);
}
nav > ul {
  display: flex;
  list-style: none;
  gap: 5vh;
  align-items: center;
}
li {
  font-weight: 500;
}
nav  button {
  border: none;
  padding: 0.3rem 1rem;
  border-radius: 10px;
  background-color: rgba(6, 156, 128, 0.901);
  color: white;
}
nav a {
  text-decoration: none;
  color: black;
}
/* Services Sectionm Start*/
.services {
  background-color: rgba(9, 120, 132, 0.149);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.services > div {
  /* margin: auto; */
}
.serviceFeature {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 1rem;
}
.serviceFeature i {
  font-size: 3rem;
  margin-bottom: 2rem;
  color: rgb(5, 158, 148);
  transition: 0.1s ease-in;
}
.serviceFeature i:hover {
  transform: scale(1.3);
}
.serviceFeature > div {
  min-width: 19rem;
  padding: 1rem;
}

/* Services Sectionm End*/

/* About Section  Start*/
.about {
  background-color: rgba(9, 120, 132, 0.149);
  display: flex;
  gap: 1rem;
  padding: 2rem;
  padding-top: 4rem;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about > div {
  width: 48%;
}
.about img {
  width: 100%;
}
.about p {
  padding-left: 1rem;
}

/* About Section  End*/

/* Doctor Section  End*/
.exportDoctor{
  background-color: rgba(9, 120, 132, 0.149);
}
/* Doctor Section  End*/

/* Gallary Section  Start*/
.gallary {
  background-color: rgba(9, 120, 132, 0.149);
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.gallaryCategory button {
  padding: 0.2rem 1rem;
  border-radius: 5px;
  text-decoration: none;
  border: 1px solid;
  background-color: rgb(5, 158, 148);
  color: white;
}
.gallaryImg {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin-top: 2rem;
}
.gallaryImg > div {
  width: 15rem;
  height: 13rem;
  overflow: hidden;
}
.gallaryImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.2s ease-in;
}
.gallaryImg img:hover {
  transform: scale(1.2);
}
.shoeAllImg {
  position: absolute;
  right: 2rem;
  border: 1px solid;
  padding: 0.2rem 1rem;
  border-radius: 5px;
  text-decoration: none;
  /* background-color: rgb(5, 158, 148); */
}
/* Gallary Section  End*/

/* Contact Section  Start*/
.contact {
  padding: 2rem;
  background-color: rgba(9, 120, 132, 0.149);
}
.contact input {
  width: 100%;
}
.contact button {
  padding: 0.4rem 2.5rem;
  border-radius: 5px;
  border: 0;
  background-color: rgb(5, 158, 148);
  color: white;
}

.contact button:hover {
  background-color: rgba(6, 156, 128, 0.901);
}
.map {
  width: 100%;
  height: 70vh;
}
/* Contact Section  End*/
/* Footer Section  Start*/
.footer {
  padding: 2rem 2rem 1rem 2rem;
  background-color: rgba(4, 41, 35, 0.679);
  color: rgba(255, 255, 255, 0.807);
}
.footerLinks {
  display: flex;
  justify-content: space-between;
}
.footerLinks > div {
  width: 45%;
}
.footerLinks ul {
  list-style: none;
}
.footerLinks li {
  border-bottom: 1.4px solid;
}
.footerLinks a {
  display: flex;
  padding: 0.3rem;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.832);
  justify-content: space-between;
}
.footerLinks a:hover{
  color: rgba(39, 107, 217, 0.622);
  transition: .3s ease-in;
  
}

/* Footer Section  End*/
/* ShowAllImg Section  Start*/
.allimg{
  position: relative;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.816); 
}
.img{
 opacity: 1;
 transition: .4s ease;
}

.allimg:hover .content{
 opacity: 1;
 
 
 
}
.allimg:hover .img{
  opacity: .3;
  transform: scale(1.1);
}
.content{
  opacity: 0;
  position: absolute;
  color: rgba(255, 255, 255, 0.807);
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
 
}
/* ShowAllImg Section  End*/



.swiper{
  width: 1000px;
}